@inherits LayoutComponentBase

<div class="main-layout">
    <Layout ShowFooter="true" SideWidth="160px">
        <Header>
            <div class="d-flex justify-content-center align-items-center header">Header</div>
        </Header>
        <Side>
            <div class="sidebar">
                <Menu Items="@Menus" IsVertical="true"></Menu>
            </div>
        </Side>
        <Main>
            <div style="padding: 1rem;">
                @Body
            </div>
        </Main>
        <Footer>
            <div class="d-flex align-items-center footer">Footer</div>
        </Footer>
    </Layout>
</div>