.main-layout{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.sidebar {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    border-right: 1px solid rgba(0, 0, 0, .125);
    padding: 6px 0;
}